<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--场次信息 -->
<mapper namespace="PlayRoundMapper">
	<!-- 根据条件查询记录，只获取场次的基本信息 -->
	<select id="selectPlayRound" parameterType="map" resultType="PlayRound">
		SELECT 
		  id,
		  seriesno,
		  roundno,
		  atmosphere,
		  site,
		  firstlocation,
		  remark,
		  ismanualsaved
		FROM tab_play_round
		WHERE project_id = #{projectId}
		<if test="isManualSaved != null">
		  AND isManualSaved = #{isManualSaved}
		</if>
		<if test="id != null">
		  AND id = #{id}
		</if>
		<if test="seriesNo != null">
		  AND seriesno = #{seriesNo}
		</if>
		<if test="roundNo != null">
		  AND roundno = #{roundNo}
		</if>
		ORDER BY seriesno, abs(roundno), roundno
	</select>
	
	<!-- 查询场次的完整信息，带有剧本内容、角色、道具） -->
	<select id="selectFullWithContent" parameterType="map" resultType="map">
		SELECT
			tpr.id,
			tpr.seriesNo,
			tpr.roundNo,
			tpr.atmosphere,
			tpr.site,
			tpr.firstLocation,
			tpr.remark,
			tpr.isManualSaved,
			tpc.title,
			tpc.content,
			tprrm.roleIds,
			tprpm.propIds
		FROM
			tab_play_round tpr
		LEFT JOIN tab_play_content tpc ON tpc.round_id = tpr.id
		
		-- 角色信息
		LEFT JOIN (
			SELECT
				round_id,
				GROUP_CONCAT(play_roleid) roleIds
			FROM
				tab_play_round_role_map
			WHERE
				project_id = #{projectId}
			GROUP BY
				round_id
		) tprrm ON tprrm.round_id = tpr.id
		
		-- 道具信息
		LEFT JOIN (
			SELECT
				trm.round_id,
				GROUP_CONCAT(trm.prop_id) propIds
			FROM
				tab_play_round_prop_map trm,
				tab_prop tp
			WHERE
				trm.prop_id = tp.id
			AND tp.project_id = #{projectId}
			GROUP BY
				round_id
		) tprpm ON tprpm.round_id = tpr.id
		WHERE
			tpr.project_id = #{projectId}
		ORDER BY
			tpr.seriesno,
			abs(tpr.roundno),
			tpr.roundno
	</select>
	
	<!-- 查询场次的完整信息，带有角色、道具，不带有内容-->
	<select id="selectFullWithoutContent" parameterType="map" resultType="map">
		SELECT
			tpr.id,
			tpr.seriesNo,
			tpr.roundNo,
			tpr.atmosphere,
			tpr.site,
			tpr.firstLocation,
			tpr.remark,
			tpr.isManualSaved,
			tprrm.roleIds,
			tprpm.propIds
		FROM
			tab_play_round tpr
		
		<!-- 角色信息 -->
		LEFT JOIN (
			SELECT
				round_id,
				GROUP_CONCAT(play_roleid) roleIds
			FROM
				tab_play_round_role_map
			WHERE
				project_id = #{projectId}
			GROUP BY
				round_id
		) tprrm ON tprrm.round_id = tpr.id
		
		<!-- 道具信息 -->
		LEFT JOIN (
			SELECT
				trm.round_id,
				GROUP_CONCAT(trm.prop_id) propIds
			FROM
				tab_play_round_prop_map trm,
				tab_prop tp
			WHERE
				trm.prop_id = tp.id
			AND tp.project_id = #{projectId}
			GROUP BY
				round_id
		) tprpm ON tprpm.round_id = tpr.id
		WHERE
			tpr.project_id = #{projectId}
			
			
			<!-- 集场次，不考虑开始集和开始场为空的情况，因为这两个参数默认都是1，以下条件拼接分成三个部分，具体看注释 -->
			AND (
				<!-- 第一部分：开始集和结束集中间的部分，不包含开始集和结束集里的数据 -->
				(
					tpr.seriesno &gt; #{startSeriesNo}
					<if test="endSeriesNo != null">
						 AND tpr.seriesno &lt; #{endSeriesNo}
					</if>
				)
				
				<!-- 第二部分：开始集里从开始场算起的部分 -->
				OR (tpr.seriesno = #{startSeriesNo} AND ABS(tpr.roundno) &gt;= ABS(#{startRoundNo}))
				
				<!-- 第三部分：结束集里截至到结束场的部分 -->
				<!-- 开始集和结束集相同 -->
				<if test="endSeriesNo != null and endSeriesNo == startSeriesNo">
					AND (
						tpr.seriesno = #{endSeriesNo}
						<if test="endRoundNo != null">
							 AND ABS(tpr.roundno) &lt;= ABS(#{endRoundNo})
						</if>
					)
				</if>
				
				<!-- 开始集和结束集不同-->
				<if test="endSeriesNo != null and endSeriesNo != startSeriesNo">
					OR (
						tpr.seriesno = #{endSeriesNo}
						<if test="endRoundNo != null">
							 AND ABS(tpr.roundno) &lt;= ABS(#{endRoundNo})
						</if>
					)
				</if>
				
			)
			
			<!-- 多个集场编号 -->
			<if test="seriesRoundNoList != null and seriesRoundNoList.size() > 0">
				AND
				<foreach collection="seriesRoundNoList" open="(" separator="OR" close=")" item="seriesRoundMap">
					tpr.seriesno = #{seriesRoundMap.seriesNo, jdbcType=INTEGER} 
				AND tpr.roundno = #{seriesRoundMap.roundNo, jdbcType=VARCHAR}
				</foreach>
			</if>
			
			<!-- 集次 -->
			<if test="seriesNo != null">
				AND tpr.seriesno = #{seriesNo}
			</if>
			
			<!-- 气氛 -->
			<if test="atmosphereList != null and atmosphereList.size() > 0">
				AND tpr.atmosphere IN
				<foreach collection="atmosphereList" open="(" separator="," close=")" item="atmosphere">
					#{atmosphere}
				</foreach>
			</if>
			
			<!-- 内外景 -->
			<if test="siteList != null and siteList.size() > 0">
				AND tpr.site IN
				<foreach collection="siteList" open="(" separator="," close=")" item="site">
					#{site}
				</foreach>
			</if>
			
			<!-- 主场景 -->
			<if test="firstLocationList != null and firstLocationList.size() > 0">
				AND tpr.firstlocation IN
				<foreach collection="firstLocationList" open="(" separator="," close=")" item="firstlocation">
					#{firstlocation}
				</foreach>
			</if>
			
			<!-- 道具 -->
			<if test="propIdList != null and propIdList.size() > 0">
				AND tprpm.propIds REGEXP CONCAT_WS('|',  
				<foreach collection="propIdList" separator="," item="myPropId">
					#{myPropId}
				</foreach>)
			</if>
			
			<!-- 主要角色 -->
			<if test="majorRoleIdList != null and majorRoleIdList.size() > 0">
				AND 
				<!-- 出现即可 -->
				<if test="majorRoleSearchMode == 1">
					tprrm.roleIds REGEXP CONCAT_WS('|', 
					<foreach collection="majorRoleIdList" separator="," item="myRoleId">
						#{myRoleId}
					</foreach>
					)
				</if>
				<!-- 不出现 -->
				<if test="majorRoleSearchMode == 2">
					tprrm.roleIds NOT REGEXP CONCAT_WS('|',  
					<foreach collection="majorRoleIdList" separator="," item="myRoleId">
						#{myRoleId}
					</foreach>)
				</if>
				<!-- 同时出现 -->
				<if test="majorRoleSearchMode == 3">
					<foreach collection="majorRoleIdList" open="(" separator="AND" close=")" item="myRoleId">
						(tprrm.roleIds LIKE CONCAT('%', #{myRoleId}, '%'))
					</foreach>
				</if>
				<!-- 不同时出现 -->
				<if test="majorRoleSearchMode == 4">
					tprrm.roleIds REGEXP CONCAT_WS('|',  
					<foreach collection="majorRoleIdList" separator="," item="myRoleId">
						#{myRoleId}
					</foreach>)
					AND
					<foreach collection="majorRoleIdList" open="(" separator="OR" close=")" item="myRoleId">
						(tprrm.roleIds NOT REGEXP #{myRoleId})
					</foreach>
				</if>
			</if>
			
			<!-- 特约角色 -->
			<if test="guestRoleIdList != null and guestRoleIdList.size() > 0">
				AND tprrm.roleIds REGEXP CONCAT_WS('|', 
					<foreach collection="guestRoleIdList" separator="," item="myRoleId">
						#{myRoleId}
					</foreach>
					)
			</if>
			
			<!-- 群众角色 -->
			<if test="massRoleIdList != null and massRoleIdList.size() > 0">
				AND tprrm.roleIds REGEXP CONCAT_WS('|', 
					<foreach collection="massRoleIdList" separator="," item="myRoleId">
						#{myRoleId}
					</foreach>
					)
			</if>
			
			<!-- 单个角色和道具条件 -->
			<if test="roleId != null">
			  AND tprrm.roleIds like CONCAT('%', #{roleId}, '%')
			</if>
			<if test="propId != null">
			  AND tprpm.propIds like CONCAT('%', #{propId}, '%')
			</if>
		ORDER BY
			tpr.seriesno,
			abs(tpr.roundno),
			tpr.roundno
	</select>
	
	<!-- 查询场次的统计信息，带有总场数、内景场数、外景场数 -->
	<select id="selectRoundStatistic" parameterType="map" resultType="map">
		SELECT
			count(tpr.id) totalCount,
			sum(IF(LOCATE('外', tpr.site) != 0, 1, 0)) outCount,
			sum(IF(LOCATE('外', tpr.site) != 0, 0, 1)) innerCount
		FROM
			tab_play_round tpr
		
		-- 角色信息
		LEFT JOIN (
			SELECT
				round_id,
				GROUP_CONCAT(play_roleid) roleIds
			FROM
				tab_play_round_role_map
			WHERE
				project_id = #{projectId}
			GROUP BY
				round_id
		) tprrm ON tprrm.round_id = tpr.id
		
		-- 道具信息
		LEFT JOIN (
			SELECT
				trm.round_id,
				GROUP_CONCAT(trm.prop_id) propIds
			FROM
				tab_play_round_prop_map trm,
				tab_prop tp
			WHERE
				trm.prop_id = tp.id
			AND tp.project_id = #{projectId}
			GROUP BY
				round_id
		) tprpm ON tprpm.round_id = tpr.id
		WHERE
			tpr.project_id = #{projectId}
			<if test="seriesNoList != null">
			  AND tpr.seriesno IN
			  <foreach collection="seriesNoList" open="(" separator="," close=")" item="series">
			  	#{series}
			  </foreach>
			</if>
			<if test="roleId != null">
			  AND tprrm.roleIds like '%${roleId}%'
			</if>
			<if test="propId != null">
			  AND tprpm.propIds like '%${propId}%'
			</if>
		ORDER BY
			tpr.seriesno,
			abs(tpr.roundno),
			tpr.roundno
	</select>
	
	<!-- 查询项目下场次数量 -->
	<select id="countProjectRound" parameterType="String" resultType="Integer">
		SELECT count(1)
		FROM tab_play_round
		WHERE project_id = #{projectId}
	</select>
	
	<!-- 批量插入 -->
	<insert id="insertBatch">
		INSERT INTO tab_play_round(
			id, project_id, seriesno, 
			roundno, atmosphere, site, 
			firstlocation, ismanualsaved, createtime, lastupdatetime)
		VALUES
		<foreach collection="list" separator="," item="pr">
			(#{pr.id}, #{pr.project.id}, #{pr.seriesNo}, 
			 #{pr.roundNo}, #{pr.atmosphere}, #{pr.site}, 
			 #{pr.firstLocation}, #{pr.isManualSaved}, #{pr.createTime}, #{pr.lastUpdateTime})
		</foreach>
	</insert>
	
	<!-- 删除多个场次信息 -->
	<delete id="deleteBatchByIds">
		DELETE FROM tab_play_round
		WHERE id IN
		<foreach collection="list" open="(" close=")" separator="," item="id">
			#{id}
		</foreach>
	</delete>
	
	<!-- 更新单条记录 -->
	<update id="updateOne" parameterType="PlayRound">
		UPDATE tab_play_round
		SET seriesno = #{seriesNo}, 
			roundno = #{roundNo}, 
			atmosphere = #{atmosphere}, 
			site = #{site}, 
			firstlocation = #{firstLocation}, 
			remark = #{remark}, 
			ismanualsaved = #{isManualSaved}, 
			lastupdatetime = #{lastUpdateTime}
		WHERE id = #{id}
	</update>
	
	<!-- 根据项目ID删除数据 -->
	<delete id="deleteByProjectId" parameterType="String">
		DELETE FROM tab_play_round where project_id = #{projectId}
	</delete>
</mapper>