.project-list-five {
    width: 100%;
    background-color: #ffffff;
    padding: 20px 0 30px 0;
    border-top: 1px solid #ededed;
}
.project-list-five .five-content .five-content-gather {
    width: 100%;
}
.project-list-five .five-content .five-content-gather li {
    position: relative;
    display: inline-block;
    width: 102px;
    height: 32px;
    line-height: 32px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid #999999;
    font-size: 14px;
    color: rgb(51,51,51);
    float: left;
    cursor: pointer;
}
.project-list-five .five-content .five-content-gather li i {
    position: absolute;
    bottom: -13px;
    right: -4px;
    color: #ffffff;
    z-index: -1;
}
.project-list-five .five-content .five-content-gather li:hover {
    border: 1px solid #29d9c2;
    color: #29d9c2;
}
.project-list-five .five-content .five-content-gather li:hover i {
    color: #29d9c2;
    z-index: 0;
}
.project-list-five .five-content .five-content-gather li.active {
    border: 1px solid #29d9c2;
    color: #29d9c2;
}
.project-list-five .five-content .five-content-gather li.active i {
    color: #29d9c2;
    z-index: 0;
}
.project-list-five .five-content button {
    display: block;
    margin-top: 20px;
    width: 102px;
    height: 32px;
    background-color: #29d9c2;
    color: #ffffff;
}
.project-list-five .five-content button:hover{
    opacity: 0.8;
}
.panel-pie {
	height: 350px;
}

.story-card .story-card-one .story-li-mar{
    margin-right: 0;
}
.story-card .story-card-one .story-li{
    float: left;
    width: 285px;
    height: 230px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 30px;
}
.story-card .story-card-one .story-li-mar{
    margin-right: 0;
}
.story-card{
    overflow: hidden;
}
.story-card .story-card-one{
    overflow: hidden;
}
.story-card .story-card-one .story-li .story-card-con li:nth-child(1){
    font-size: 14px;
    color: #29d9c2;
    font-weight: bold;
}
.story-card .story-card-one .story-li .story-card-con li:nth-child(2){
    font-size: 24px;
    color: #333333;
    font-weight: bold;
    line-height: 24px;
    margin-top: 20px;
}
.story-card .story-card-one .story-li .story-card-con li:nth-child(3){
    width: 60px;
    height: 5px;
    background-color: #333333;
    margin-top: 10px;
}
.story-card .story-card-one .story-li .story-card-con li:nth-child(4){
    font-size: 14px;
    color: #333333;
    line-height: 14px;
    margin-top: 20px;
}
.story-card .story-card-one .story-li .story-card-con li:nth-child(5){
    margin-top: 20px;
}
.story-card .story-card-one .story-li .story-card-con li .story-card-con-btn{
    width: 128px;
    height: 32px;
    border: 1px solid #333333;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
}
.story-card .story-card-one .story-li .story-card-con li .story-card-con-btn:hover{
    opacity: 0.8;
}

.table-implant tbody td {
	/*line-height: 90px !important;*/
}


/*百分比*/
.percentage-box-con {
    margin: 0 8px;
}
.percentage-box-con .percentage-box {
    position: relative;
    display: inline-block;
    width: 130px;
    height: 12px;
    border-radius: 8px;
    background-color: #E7E7E7;
}
.percentage-box-con .percentage-box .percentage-box-color {
    position: absolute;
    height: 12px;
    border-radius: 8px;
    background-color: #29D9C2;
}
.percentage-box-con .percentage-box-num {
    display: inline-block;
    margin-left: 5px;
}