.project-list-five {
    width: 100%;
    background-color: #ffffff;
    padding: 20px 0 30px 0;
    border-top: 1px solid #ededed;
}
.project-list-five .five-content .five-content-gather {
    width: 100%;
}
.project-list-five .five-content .five-content-gather li {
    position: relative;
    display: inline-block;
    width: 102px;
    height: 32px;
    line-height: 32px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid #999999;
    font-size: 14px;
    color: rgb(51,51,51);
    float: left;
    cursor: pointer;
}
.project-list-five .five-content .five-content-gather li i {
    position: absolute;
    bottom: -13px;
    right: -4px;
    color: #ffffff;
    z-index: -1;
}
.project-list-five .five-content .five-content-gather li:hover {
    border: 1px solid #29d9c2;
    color: #29d9c2;
}
.project-list-five .five-content .five-content-gather li:hover i {
    color: #29d9c2;
    z-index: 0;
}
.project-list-five .five-content .five-content-gather li.active {
    border: 1px solid #29d9c2;
    color: #29d9c2;
}
.project-list-five .five-content .five-content-gather li.active i {
    color: #29d9c2;
    z-index: 0;
}
.project-list-five .five-content button {
    display: block;
    margin-top: 20px;
    width: 102px;
}
.project-list-five .five-content .btn-primary:hover{
    opacity:0.8;
}


/*图片面板样式*/
.role-class .panel-body {
	height: 300px;
}

/*场次列表央视*/
.table-implant tbody td {
	line-height: 90px !important;
}
.table-implant .pie-div {
	width:90px;
	height:90px;
	margin: 0 auto;
}
.round-title {
	width: 88%;	
}