<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
    <!--指明当前的页面在IE浏览器渲染的时候使用最新的渲染引擎来渲染-->
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <!--网站的关键字-->
    <meta name="keywords" content="广告植入">
    <!--网站主要内容-->
    <meta name="description" content="小土科技">
    <title>剧本分析展示信息</title>
    <#include "../common/context.html"/>
    <link rel="stylesheet" href="${basePath}/static/css/component/playAnalContent.css">
    <script src="${basePath}/static/js/component/playAnalContent.js"></script>
</head>
<body>
<div class="anal-content clearfix">
    <div class="anal-content-con clearfix">
        <div class="anal-left scrollbar">
            <div class="anal-left-title clearfix">
                <!--<h4>1-11 日本街/密室内 日,外/内 <br>人物 : 天狼、日本武士若干、关东军士兵、被打小贩、环境人物</h4>-->
                <h4></h4>
            </div>
            <!--<div class="anal-left-figure">人物 : 天狼、日本武士若干、关东军士兵、被打小贩、环境人物</div>-->
            <div class="anal-left-totleword">字数 : <span></span>字</div>
            <div class="anal-color clearfix">
                <div flag="main-actor" class="anal-color-keyword main-actor clearfix">
                    <span class="color"></span>
                    <span class="word">主要演员</span>
                </div>
                <div flag="special-actor" class="anal-color-keyword special-actor clearfix">
                    <span class="color"></span>
                    <span class="word">特约演员</span>
                </div>
                <div flag="public-actor" class="anal-color-keyword public-actor clearfix">
                    <span class="color"></span>
                    <span class="word">群众演员</span>
                </div>
                <div flag="stage" class="anal-color-keyword stage clearfix">
                    <span class="color"></span>
                    <span class="word">道具</span>
                </div>
                <div flag="dress" class="anal-color-keyword dress clearfix">
                    <span class="color"></span>
                    <span class="word">服装</span>
                </div>
                <div flag="sign" class="anal-color-keyword sign clearfix">
                    <span class="color"></span>
                    <span class="word">标记</span>
                </div>
                <div flag="ad-anal" class="anal-color-keyword ad-anal clearfix">
                    <span class="color"></span>
                    <span class="word">广告分析</span>
                </div>
            </div>
            <div class="anal-left-content">
                <!--门开着，子生敲了敲门框。</br>-->
                <!--老谭正低头看着报纸，听到敲门声，没抬头说进来吧。</br>-->
                <!--子生走了进来，大衣站在边低头不说话。</br>-->
                <!--老谭这才抬头一看是子生，似乎也不知道该说些什么。过了会儿放下报纸，站起来给子生倒水。</br>-->
                <!--门开着，子生敲了敲门框。</br>-->
                <!--老谭正低头看着报纸，听到敲门声，没抬头说进来吧。</br>-->
                <!--子生走了进来，大衣站在边低头不说话。</br>-->
                <!--老谭这才抬头一看是子生，似乎也不知道该说些什么。过了会儿放下报纸，站起来给子生倒水。</br>-->
                <!--门开着，子生敲了敲门框。</br>-->
                <!--老谭正低头看着报纸，听到敲门声，没抬头说进来吧。</br>-->
                <!--子生走了进来，大衣站在边低头不说话。</br>-->
                <!--老谭这才抬头一看是子生，似乎也不知道该说些什么。过了会儿放下报纸，站起来给子生倒水。</br>-->
                <!--门开着，子生敲了敲门框。</br>-->
                <!--老谭正低头看着报纸，听到敲门声，没抬头说进来吧。</br>-->
                <!--子生走了进来，大衣站在边低头不说话。</br>-->
                <!--老谭这才抬头一看是子生，似乎也不知道该说些什么。过了会儿放下报纸，站起来给子生倒水。</br>-->
            </div>
        </div>
        <div class="anal-right">
            <div class="anal-right-title">
                <h5 reval="scene-info" class="anal-right-tl scene-info-title active">场景信息</h5>
                <h5 reval="play-sign" class="anal-right-tl play-sign-title">剧本标记</h5>
                <h5 reval="ad-import" class="anal-right-tl ad-import-title">广告植入</h5>
            </div>
            <div class="anal-right-content scene-info">
                <div class="import scene-info-con ji">
                    <span class="one">集</span>
                    <span class="two"></span>
                </div>
                <div class="import scene-info-con chang">
                    <span class="one">场</span>
                    <span class="two"></span>
                </div>
                <div type="single-raido" class="single scene-info-con air">
                    <span class="one">气氛</span>
                    <span class="two"></span>
                </div>
                <div type="single-raido" class="single scene-info-con in-out">
                    <span class="one">内外</span>
                    <span class="two"></span>
                </div>
                <div type="single-raido" class="single scene-info-con main-scene">
                    <span class="one">主场景</span>
                    <span class="two"></span>
                </div>
                <div type="multiple-checkbox" class="multiple scene-info-con main-actor">
                    <span class="one">主要演员</span>
                    <span class="two"></span>
                </div>
                <div type="multiple-checkbox" class="multiple scene-info-con special-actor">
                    <span class="one">特约演员</span>
                    <span class="two"></span>
                </div>
                <div type="multiple-checkbox" class="multiple scene-info-con public-actor">
                    <span class="one">群众演员</span>
                    <span class="two"></span>
                </div>
                <div type="multiple-checkbox" class="multiple scene-info-con stage">
                    <span class="one">道具</span>
                    <span class="two"></span>
                </div>
                <div type="multiple-checkbox" class="multiple scene-info-con dress">
                    <span class="one">服装</span>
                    <span class="two"></span>
                </div>
                <!--输入的-->
                <div class="import scene-info-con remake">
                    <span class="one">备注</span>
                    <span class="two"></span>
                </div>
            </div>
            <div class="anal-right-content play-sign scrollbar hide">
                <!--<ul class="play-sign-title clearfix">-->
                    <!--<li class="order">序号</li>-->
                    <!--<li class="keyword">关键词</li>-->
                    <!--<li class="product-name">产品名称</li>-->
                    <!--<li class="role">角色</li>-->
                    <!--<li class="describe">描述</li>-->
                <!--</ul>-->
                <!--<ul class="play-sign-con clearfix">-->
                    <!--<li class="order">1</li>-->
                    <!--<li class="keyword">日本人</li>-->
                    <!--<li class="product-name">手机</li>-->
                    <!--<li class="role">天狼</li>-->
                    <!--<li class="describe">描述</li>-->
                <!--</ul>-->
            </div>
            <div class="anal-right-content ad-import scrollbar hide">
                <!--<div class="ad-import-con">-->
                    <!--<div class="con-title">-->
                        <!--<h6>ipone6</h6>-->
                        <!--<span class="stage">道具</span>-->
                        <!--<span class="phone">手机</span>-->
                    <!--</div>-->
                    <!--<div class="con-con">-->
                        <!--<span>角色：天狼</span>-->
                        <!--<span>类型：类型</span>-->
                    <!--</div>-->
                    <!--<div class="con-describe">描述：描述</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>